/* class to give attributes to the header */
.header_bar {
    background-color: #f7e7ce;
    width: 100%;                  /* so it spans the whole page */  
    height: 7.6%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;                /* to expand items to fill free space */  
    z-index: 1;                   /* to make sure it stays on top of everything else*/  
}

/* class to position and size the hamburger menu */
.header_bar img { 
    height: 100%;
    padding: 0% 1%;
}

/* class to give attributes to the division comtaining the home and project buttons */
.header_bar div {
    display: none;                 /* will be used by js file to toggle display on and off when the hamburger menu is pressed (initialized with "none")*/
}

/* class to give attributes to the home and project buttons */
.header_bar a {
    font-size: 1.3vw;
    text-decoration: none;         /* to remove the line under the link */
    padding: 15% 15%;
}

/* class to give attributes to the division containing the videos and video description */
.vid_container {
    position: fixed;
    top: 18%;
    left: 6.2%;
    width: 43%;
    height: 75%
}

/* class to give attributes to the 30mff video */
.mdlr_video1 {
    position: relative;
    /* The original video is 402x720px. It has been multiplied by 0.5 (50% of original size)*/
    float: left;
    width: 32.9%;
    filter: grayscale(100%);         /* to add a grayscale filter */
}

.mdlr_video2 {
    position: relative;
    float: left;
    width: 32.9%;
    filter:grayscale(25%);         /* to add a grayscale filter but just very slightly (fits better with the color theme) */
}

.mdlr_video3 {
    position: relative;
    float: left;
    width: 32.9%;
    filter:grayscale(100%);         /* to add a grayscale filter */
}

/* class to give attributes to the description box */
.description {
    color: rgb(14, 14, 14);
    font-size: 1.3vw;
    position: relative;
    float: bottom;
    top: 5%;
    left: 1%;
    width: 96%;
    height: 25%;
    overflow: auto;
    text-align: justify;
}

/* class to position and size the baby yoda image */
.mdlr_image {
    min-width: 500px;
    position: fixed;
    top: 14%;
    left: 54%;
    width: 42%;
}
