/* class to give attributes to the header */
.header_bar {
    background-color: #f7e7ce;
    width: 100%;                  /* so it spans the whole page */  
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;                /* to expand items to fill free space */  
    z-index: 2;                   /* to make sure it stays on top */  
}

/* class to give attributes to the hamburger menu */
.header_bar img { 
    height: 60px;
    padding: 0px 20px;
}

/* class to give attributes to the division comtaining the home and project buttons */
.header_bar div {
    display: none;                 /* will be used by js file to toggle display on and off when the hamburger menu is pressed */
}

/* class to give attributes to the home and project buttons */
.header_bar a {
    font-size: 1.2em;
    text-decoration: none;         /* to remove the line under the link */
    padding: 20px 20px;
}

.mdlr_image {
    position: fixed;
    top: 100px;
    left: 765px;
    width: 610px;
}

.mdlr_video1 {
    position: fixed;
    top: 140px;
    left: 90px;
    /* The original video is 402x720px. It has been multiplied by 0.5 (50% of original size)*/
    width: 201px;
    height: 360px;
    filter:grayscale(100%);
}

.mdlr_video2 {
    position: fixed;
    top: 140px;
    left: 291px;
    width: 201px;
    height: 360px;
    filter:grayscale(25%);
}

.mdlr_video3 {
    position: fixed;
    top: 140px;
    left: 492px;
    width: 201px;
    height: 360px;
    filter:grayscale(100%);
}

.description {
    color: rgb(14, 14, 14);
    font-size: 1.2em;
    position: fixed;
    top: 527px;
    left: 90px;
    width: 595px;
    height: 140px;
    padding: 5px;
    overflow: auto;
    text-align: justify;
}
