
.header_bar {
    background-color: #f7e7ce;
    width: 100%;
    height: 60px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
}

.header_bar img { 
    height: 60px;
    padding: 0px 20px;
}

.header_bar div {
    display: none;
}

.header_bar a {
    font-size: 1.2em;
    text-decoration: none;
    padding: 20px 20px;
}

.mdlr_image {
    position: absolute;
    top: 100px;
    left: 765px;
    width: 610px;
}

.mdlr_video1 {
    position: absolute;
    top: 140px;
    left: 90px;
    /* The original video is 402x720px. It has been multiplied by 0.5 (50% of original size)*/
    width: 201px;
    height: 360px;
    filter:grayscale(100%);
}

.mdlr_video2 {
    position: absolute;
    top: 140px;
    left: 291px;
    width: 201px;
    height: 360px;
    filter:grayscale(25%);
}

.mdlr_video3 {
    position: absolute;
    top: 140px;
    left: 492px;
    width: 201px;
    height: 360px;
    filter:grayscale(100%);
}

.description {
    color: black;
    font-size: 1.2em;
    position: absolute;
    top: 527px;
    left: 90px;
    width: 595px;
    height: 140px;
    padding: 5px;
    overflow: auto;
    text-align: justify;
}

/* #7B7B7B */
